﻿@model WorkShopUNA.Models.Telefone

@{
    ViewBag.Title = "Deletar telefone";
}

<h2>@ViewBag.Title </h2>

<h3>Tem certeza que deseja deletar o telefone do @Model.Contato.Nome ?</h3>
<div>
    <h4>Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ramal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ramal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTelefone)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" /> 
            @Html.ActionLink("Voltar a listagem de contatos", "Index", new { Id = Model.Contato.Id }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
