﻿@model IEnumerable<WorkShopUNA.Models.Telefone>

@{
    ViewBag.Title = "Listagem de Telefones";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar telefone", "Create", new { ContatoId = ViewBag.ContatoId }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contato.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ramal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTelefone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contato.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTelefone)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                @Html.ActionLink("Detalhar", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Voltar para listagem de Contatos", "Index", "Contato",null, new { @class = "btn btn-primary" })
</div>
