﻿@model WorkShopUNA.Models.Contato

@{
    ViewBag.Title = "Deletar contato";
}

<h2>@ViewBag.Title </h2>

<h3>Tem certeza que deseja deletar o @Model.Nome ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agenda.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class="btn btn-primary"})
        </div>
    }
</div>
