﻿@model IEnumerable<WorkShopUNA.Models.Contato>

@{
    ViewBag.Title = "Contatos";
}

<h2>Lista de Contatos</h2>

<p>
    @Html.ActionLink("Cadastrar novo contato", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agenda.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                @Html.ActionLink("Detalhar", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                <a href="@Url.Action("Index", "Telefone", new { id = item.Id })" class="btn btn-sm btn-default">Telefones <span class="badge">@item.Telefones.Count</span></a>
                <a href="@Url.Action("Index", "Endereco", new { id = item.Id })" class="btn btn-sm btn-default">Endereços <span class="badge">@item.Enderecos.Count</span></a>
            </td>
        </tr>
    }

</table>
