﻿@model WorkShopUNA.Models.Agenda

@{
    ViewBag.Title = "Detalhar";
}

<h2>Agenda</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Voltar a listagem de contatos", "Index", null, new { @class = "btn btn-primary" })
</p>
