﻿@model IEnumerable<WorkShopUNA.Models.Agenda>

@{
    ViewBag.Title = "Listagem de Agendas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar nova agenda", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Detalhar", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
